# Ignore Terraform state and backup files
*.tfstate
*.tfstate.backup

# Ignore sensitive variable files
*.tfvars

# Ignore plan files
*.tfplan

# Ignore .terraform directories
.terraform*

# ignore generate puppet bolt inventory file
hosts_inventory.yaml

# ignore bolt log files
*.log
.rerun.json 

